<div class="col-md-4">
<form action="{{ path('buy_ingredient', {'ingredient_id': ingredient.id}) }}" method="post">

	<div class="pricing1">
	
		<div class="top">
		
			<h2 class="editContent">{{ ingredient.name }}</h2>
			
			<p class="price "><b class="editContent">1 {{ ingredient.measure }} for ${{ ingredient.price|number_format(2, '.') }}</b></p>
		
		</div><!-- /.top -->
		
		<div class="bottom">
			
			{% set remainingStock = ingredient.stock %}

			<!-- <a href="" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Buy One</a> -->
			<button type="submit" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Buy One</button>
		
			<span>{{ remainingStock }} Remaining</span>

		</div><!-- /.bottom -->

	</div><!-- /.pricing1 -->

</form>

</div><!-- /.col-md-4 col -->

